*{
    margin: 0;
    padding: 0;
}

body{
    background: url("images/background.svg");
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.titre{
    font-family: "Elsie Swash Caps";
    font-size: 2.5rem;
    padding: 2rem;
    margin-top: 5rem;
    text-align: center;
    color: #193403;
}


section{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.input{
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    width: 14rem;
    font-size: 0.85rem;
    border: none;
    padding: 1.3rem;
    font-family: 'Lato';
    margin: 0.61rem;
}
.btn{
    color: #FFFFFF;
    margin: 0.61rem;
    padding: 1.3rem;
    width: 16rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    font-size: 0.85rem;
    border: none;
    font-family: 'Lato';
    background: #D12626;
}


.gif{
    width: 100vw;
    height: 100%;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gif img{
    width: 15rem;
}

.page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    font-family: "Lato";
    font-size: 2rem;
}
.nom{
    font-size: 2.8rem;
    
    font-family: Elsie Swash Caps;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2rem;
    color: #193403;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.page .btn{
    cursor: pointer;
    font-size: 1.2rem;
}
.page .btn-float{
    background: maroon;
    width: 9rem;
    border: none;
    height: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.02rem;
    flex-direction: column;
    border-radius: 100vw;
    color: white;
    opacity: 0.8;
    font-weight: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 1.2rem;
    left: 1.2rem;
    cursor: pointer;
}